table {
    justify-content: center;
    display: flex;
    border-color: black;
    border-width: medium;
    border: 15px;
    padding-top: 17px;
    padding-bottom: 25px;
    transform: scale(1.4);
}

 tr, td {
    flex: 1;
    display: flex;
}

button {
    flex: 1;
}
