.calculator {
    border-style: groove;
    border-color: black;
    border-radius: 10px;
    border-width: medium;
    margin-top: 80px;
    margin-left: 440px;
    margin-right: 440px;
    transform: scale(1.2);
    background-color: teal;
}

p {
    text-align: right;
    transform: scale(0.9);
    border-bottom-style: groove;
    border-color: black;
}
